<!-- Cards list -->
<div class="wrapper">
    <div class="card-list">
    </div>
</div>
<!-- end Cards list -->

<!-- Loading button -->
<div class="wrapper control">
    <div class="loader">
        <div class="loader__ball"></div>
        <div class="loader__ball"></div>
        <div class="loader__ball"></div>
        <div class="loader__ball"></div>
        <div class="loader__ball"></div>
    </div>
    <button id="load-more-pokemon" class="btn btn-primary d-none" onclick="handlerLoadMoreClick()">Load more</button>
</div>
<!-- end Loading button -->

<script src="./public/javascripts/pokemon.js"></script>